nav{
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    button{
        display: flex;
        gap: 0.3rem;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0.5rem;
        transition: all 0.3s ease;
        &.button__library{
            border: 2px solid rgb(65, 65, 65);
            &:hover{
                background: rgb(65, 65, 65);
                color: white;
            }
        }     
    }
}